.about-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F3F4F6;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.about-content {
    text-align: center;
}
.text {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
}
.images{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.image{
    width: 50;
    height: 200px;
}